<!DOCTYPE html>
<html lang="en">
<head>
    
    <title><%= title %></title>
    <link rel="stylesheet"href="/css/layout.css">
</head>
<body>
    <%- include('_header'); %>
    <!-- <h1>ths is thyhyhy</h1> -->
    <%- body %>
    <%- include('_footer'); %>
</body>
</html>