body{
    margin:0;
    background-color: azure;
}
/* }.post-comments-list{
    background-color: red;
    width:800px;
    height:700px;
} */
/* .commentsList{
    width:auto;
    height:auto;
    border:1px solid black;
} */